.container {
    max-width: 600px;
    margin: 10px auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.card img {
    width: 100%;
}

.card {
    position: relative;
}

.card .cardFront {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}

.card .cardBack {
    transform: rotateY(0);
    transition: all ease-in 0.2s;
}

.rotated .cardFront {
    transform: rotateY(0);
    transition-delay: 0.2;
}
.rotated .cardBack {
    transform: rotateY(90deg);
    transition-delay: 0.2;
}
